<div layout="column" layout-align="center center" class="marketplaces">
	<h3 class="uppercase color-primary ng-scope">Categories</h3>
	<ul class="category-ul">
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.passports", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/1.png" alt="">
			</a>
			</div>
			<a href="/marketplace/passports" class="category-link">PASSPORTS</a>
		</li>
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.residency", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/2.png" alt="">
			</a>
			</div>
			<a href="/marketplace/residency" class="category-link">RESIDENCY</a>
	
		</li>
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.wallets", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/3.png" alt="">
			</a>
			</div>
			<a href="/marketplace/wallets" class="category-link">WALLETS</a>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.bankaccounts", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/bank_accounts.png" alt="">
			</a>
			</div>
			<a href="" class="category-link">BANK ACCOUNTS</a>
	
		</li>
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.digitalassets", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/digital_assets.png" alt="">
			</a>
			</div>
			<a href="/marketplace/digital-assets" class="category-link">COIN EXCHANGES</a>
		</li>
	
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.incorporations", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/incorporations.png" alt="">
			</a>
			</div>
			<a href="/marketplace/incorporations" class="category-link">INCORPORATIONS</a>
		</li>
	
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.trusts", ui-sref-active="active" class="category-link">
				<img class="small" src="assets/images/marketplace/icons/trusts-icon.png" alt="">
			</a>
			</div>
			<a href="/marketplace/trusts" class="category-link">TRUSTS</a>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.wealth", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/bank_accounts.png" alt="">
			</a>
			</div>
			<span class="bold_text">WEALTH MANAGEMENT</span>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.paymentprocessors", ui-sref-active="active" class="category-link">
				<img class="small" src="assets/images/marketplace/icons/payment-processors-icon.png" alt="">
			</a>
			</div>
			<span class="bold_text">PAYMENT PROCESSORS</span>
	
		</li>
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.moneytransfer", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/money_transfer.png" alt="">
			</a>
			</div>
			<a href="/marketplace/money-transfer" class="category-link">MONEY TRANSFER & REMITTANCES</a>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.p2ploans", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/p2p_loans.png" alt="">
			</a>
			</div>
			<span class="bold_text">P2P LOANS</span>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.commercialloans", ui-sref-active="active" class="category-link">
				<img class="small" src="assets/images/marketplace/icons/commercial-loans-icon.png" alt="">
			</a>
			</div>
			<span class="bold_text">COMMERCIAL LOANS</span>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.mortgages", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/mortgages.png" alt="">
			</a>
			</div>
			<span class="bold_text">MORTGAGES</span>
	
		</li>
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.realestate", ui-sref-active="active" class="category-link">
				<img class="small" src="assets/images/marketplace/icons/real-estate-icon.png" alt="">
			</a>
			</div>
			<a href="/marketplace/realestate" class="category-link">REAL ESTATE</a>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.personalbankloans", ui-sref-active="active" class="category-link">
				<img class="small" src="assets/images/marketplace/icons/personal-bank-loans-icon.png" alt="">
			</a>
			</div>
			<span class="bold_text">PERSONAL BANK LOANS</span>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.creditcards", ui-sref-active="active" class="category-link">
				<img src="assets/images/marketplace/icons/credit_cards.png" alt="">
			</a>
			</div>
			<span class="bold_text">CREDIT CARDS</span>
			<span class="regular_text coming-soon">coming soon</span>
		</li>
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.insurance", ui-sref-active="active" class="category-link">
					<img class="small"  src="assets/images/marketplace/icons/health-icon.png" alt="">
				</a>
			</div>
			<a href="/marketplace/insurance" class="category-link">INTERNATIONAL HEALTH INSURANCE</a>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.travelinsurance", ui-sref-active="active" class="category-link">
					<img src="assets/images/marketplace/icons/travel_insurance.png" alt="">
				</a>
			</div>
			<span class="bold_text">TRAVEL INSURANCE</span>
			<span class="regular_text coming-soon">coming soon</span>
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.localhealthinsurance", ui-sref-active="active" class="category-link"><a href="" class="category-link">
				<img src="assets/images/marketplace/icons/local_health.png" alt="">
			</a>
			</div>
			<span class="bold_text">LOCAL HEALTH INSURANCE</span>
	
		</li>
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.foundations", ui-sref-active="active" class="category-link">
				<img class="small"  src="assets/images/marketplace/icons/foundations-icon.png" alt="">
			</a>
			</div>
			<a href="/marketplace/foundations" class="category-link">FOUNDATIONS</a>
	
		</li>
		<li class="category-item disabled">
			<div class="shape">
				<a ui-sref="member.marketplace.tokensales", ui-sref-active="active" class="category-link">
					<img class="small" src="assets/images/marketplace/icons/token-sales-icon.png" alt="">
				</a>
			</div>
			<span class="bold_text">TOKEN SALES</span>
	
		</li>
		<li class="category-item">
			<div class="shape">
				<a ui-sref="member.marketplace.physicalassets", ui-sref-active="active" class="category-link">
					<img class="small" src="assets/images/marketplace/icons/precious-metal-icon.png" alt="">
				</a>
			</div>
			<a href="/marketplace/physical-assets" class="category-link">PRECIOUS METALS</a>
	
		</li>
	
	</ul>
	</div>