<div ng-if="list.length > 0" class="marketplace-wallets">
<!--{{list[8]}}-->
<table class="table table-stripped table-responsive main-table" ng-disabled="selectedWallet">
	<thead>
	<tr>
	<th>Wallet</th>
	<th>Type</th>
	<th>Country</th>
	<th>Available for citizens/residents</th>
	<th>Currencies</th>
	<th>Add funds</th>
	<th>Card</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="wallet in list" open-flyout="" ng-click="toggleFlyout(wallet)" ng-if="wallet['Code'] && passesFilters(wallet)">
	<td><img ng-src="{{wallet.Logo[0].url}}" alt="{{wallet['Company']}}" title="{{wallet['Company']}}"></td> <!-- Title is required for chrome bug-->
	<td>
		<div class="limit-height"><span ng-repeat="type in wallet.Type" class="badge badge-pill" ng-class="type == 'Current account'? 'badge-primary' : 'badge-default'">{{type}}</span></div>
	</td>
	<td>
		<div class="limit-height"><i ng-repeat="country in wallet['Country incorporated']" class="flag-icon flag-icon-{{isoCountries[country] | lowercase}}"></i></div>
	</td>
	<td class="show-only-part">
		<a
		href="#"
		class="badge badge-filter badge-hallow"
		ng-repeat="(key, country) in wallet['Countries available']"
		ng-if="key < 3"
		>{{ country }}</a>
		<a
		href="#"
		class="badge badge-filter badge-more more-info"
		data-toggle="modal"
		data-target="#modal"
		ng-click="openModal(wallet['Countries available'], 'Available for citizens/residents of')"
		ng-if="wallet['Countries available'].length > 3"
		>...</a>
	</td>
	<td class="show-only-part">
		<a
		href="#"
		class="badge badge-filter badge-{{rand}}"
		ng-init="rand = randomClass()"
		ng-repeat="(key, currency) in wallet['Currencies available']"
		ng-if="key < 3"
		>{{ currency }}</a>
		<a
		href="#"
		class="badge badge-filter badge-more more-info"
		data-toggle="modal"
		data-target="#modal"
		ng-click="openModal(wallet['Currencies available'], 'Currencies Available')"
		ng-if="wallet['Currencies available'].length > 3"
		>...</a>
	</td>
	<td>
		<a
		href="#"
		class="badge badge-filter badge-{{rand}}"
		ng-init="rand = randomClass()"
		ng-repeat="(key, fund) in wallet['Add funds']"
		ng-if="key < 3"
		>{{ fund }}</a>
		<a
		href="#"
		class="badge badge-filter badge-more more-info"
		data-toggle="modal"
		data-target="#modal"
		ng-click="openModal(wallet['Add funds'], 'Add Funds')"
		ng-if="wallet['Add funds'].length > 3"
		>...</a>
	</td>

	<td class="popover-host">
		<span ng-init="wallet.popoverOpened1=false" ng-mouseover="wallet.popoverOpened1=true" ng-mouseleave="wallet.popoverOpened1=false">{{popoverOpened1}}
		<img
		ng-repeat="card in wallet['Prepaid/Debit Card']"
		ng-src="{{card.url}}"
		style="width:2.5em"
		alt="{{wallet['Debit/Prepaid card type'].join(', ')}}"

		popover-trigger="none"
		popover-is-open="wallet.popoverOpened1"
		popover-title="Card Info"
		popover-placement="left"
		uib-popover-template="'myPopoverTemplate.html'"
		>
		</span>
		<script type="text/ng-template" id="myPopoverTemplate.html"><div
		class="my-popover" ng-if="wallet['Prepaid/Debit Card'].length > 0">
		<div class="title-and-value">
			<div class="title">Type</div>
			<div class="values">
			<span ng-repeat="cardType in wallet['Debit/Prepaid card type']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{cardType}}</span>
			</div>
		</div>
		<div class="title-and-value">
			<div class="title">Countries available</div>
			<div class="values">
			<span ng-repeat="country in wallet['Card countries available (residents)']" class="badge badge-info" style="background-color: transparent; color: #000; border: 1px solid #ccc">{{country}}</span>
			</div>
		</div>
		<div class="title-and-value">
			<div class="title">Currencies available</div>
			<div class="values">
			<span ng-repeat="currency in wallet['Card currencies available']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{currency}}</span>
			</div>
		</div>

		<div class="fees">
			<div>
			<div class="title">Issuance fee</div>
			<div class="value">{{wallet['Debit card issuance fee']}}</div>
			</div>
			<div>
			<div class="title">Annual fee</div>
			<div class="value">{{wallet['Debit card annual fee']}}</div>
			</div>
			<div>
			<div class="title">Purchase fee</div>
			<div class="value">{{wallet['Debit card purchase fee']}}</div>
			</div>
		</div>
		<div class="fees sa">
			<div>
			<div class="title">Withdrawal fee</div>
			<div class="value">{{wallet['Debit card ATM withdrawal fee']}}</div>
			</div>
			<div>
			<div class="title">Crossborder fee</div>
			<div class="value">{{wallet['Debit card crossborder transaction fee']}}</div>
			</div>
		</div>
		</div></script>
	</td>
	</tr>
	</tbody>
</table>
</div>

<div ng-if="!list">
	Loading results...
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{ modalData.title }}</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <a ng-repeat="item in modalData.items" class="badge badge-filter badge-hallow">{{ item }} </a>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
</div>

<div class="flyout-overlay" close-flyout=""></div>
<aside class="flyout-window" id="flyout-window">
    <div class="flyout-details">
      <!-- Header + Menu -->
      <header>
        <button close-flyout="" type="button" class="close flyout-close" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
        <div style="background: linear-gradient(rgb(206, 234, 242) 1%, rgb(206, 234, 242) 72%, rgb(255, 255, 255) 100%);">
          <h1>
              <img ng-if="selectedWallet.Logo[0].thumbnails.small.url" src="{{selectedWallet.Logo[0].thumbnails.small.url}}" />
          </h1>
          <p class="shadow-text">{{selectedWallet['Company']}}</p>
          <div class="cta">
            <a href="https://token.selfkey.org/" target="_blank" rel="nofollow" class="btn btn-lg btn-success"
            ng-if="selectedWallet['Personal Account']">Sign up Personal Account</a>
            <a href="https://token.selfkey.org/" target="_blank" rel="nofollow" class="btn btn-lg btn-success"
            ng-if="selectedWallet['Business Account']">Sign up Business Account</a>
          </div>

        </div>
    
        <nav>
          <ul>
            <li data-view="description" class="active"><a href="#description">Description</a></li>
            <li data-view="countries"><a href="#countries">Countries</a></li>
            <li data-view="currencies"><a href="#currencies">Currencies</a></li>
            <li data-view="features"><a href="#features">Features</a></li>
            <li data-view="limits"><a href="#limits">Limits</a></li>
            <li data-view="fees"><a href="#fees">Fees</a></li>
            <li data-view="devices"><a href="#devices">Devices</a></li>
            <li data-view="kyc"><a href="#kyc">KYC</a></li>
          </ul>
        </nav>
      </header>
      
      <!-- Content -->
      <div id="flyout-body" scroll>
      	<!-- Description -->
        <div id="description" class="flyout-details-program flyout-details-block">
          <div class="row pb20"><h2 class="col-sm-12">Description</h2></div>
          <p ng-bind-html="selectedWallet['Flyout description'] | unsafe"></p>
          <p>
            <i class="fa fa-building" aria-hidden="true"></i>
            <strong>{{selectedWallet.Company}}</strong> is a company incorporated in {{selectedWallet['Country incorporated'].join(', ')}} since {{selectedWallet['Year of Launch']}}
          </p>
          <div class="flex-sa">
            <div ng-if="selectedWallet['Regulatory Agencies']">
              <div>Regulated by</div>
              <div>
              	<span class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">
              		{{selectedWallet['Regulatory Agencies'].join(', ')}}
              	</span>
              </div>
            </div>
            <div ng-if="selectedWallet['Licenses']">
              <div>Licensed as</div>
              <div>
              	<span class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">	
              		{{selectedWallet['Licenses'].join(', ')}}
              	</span>
             	</div>
            </div>
          </div>
        </div>
        <!-- END Description -->
        
        <!-- Countries -->
        <div id="countries" class="flyout-details-program flyout-details-block">
          <div class="row pb20"><h2 class="col-sm-12">Countries covered</h2></div>
          <div>
            {{selectedWallet.Wallet}} is available for citizens/residents of:
            <div>
              <span ng-repeat="country in selectedWallet['Countries available']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{country}}</span>
            </div>
          </div>
        </div>
        <!-- END Countries -->

        <!-- Currencies -->
        <div id="currencies" class="flyout-details-program flyout-details-block">
          <div class="row pb20"><h2 class="col-sm-12">Currencies supported</h2></div>
          <div>
            <div>
              <span ng-repeat="currency in selectedWallet['Currencies available']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{currency}}</span>
            </div>
          </div>
        </div>
        <!-- END Currencies -->

        <!-- Features -->
        <div id="features" class="flyout-details-program flyout-details-block">
          <div class="row pb20"><h2 class="col-sm-12">Features</h2></div>
          <div class="row">
            <div class="col-sm-6">
              <strong>Store Cash: </strong><br/>
              <span>{{selectedWallet['Store cash'] ? 'Yes' : 'No'}}</span>
            </div>
            <div class="col-sm-6">
              <strong>Wallet Payment Mechanism</strong><br/>
              <span ng-repeat="payment in selectedWallet['Payment Mechanism']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{payment}}</span>
            </div>
            <div class="col-sm-6">
              <strong>Withdraw funds to bank account</strong><br/>
              <span>{{selectedWallet['Withdraw funds (bank transfer) permitted'] ? 'Available' : 'Not Available'}}</span>
            </div>
            <div class="col-sm-6">
              <strong>Transfer money overseas</strong><br/>
              <span ng-repeat="transfer in selectedWallet['Money Transfer Overseas (Bankaccount)']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{transfer}}</span>
            </div>
            <div class="col-sm-6">
              <strong>Store cards</strong><br/>
              <span>{{selectedWallet['Store cards'] ? 'Yes' : 'No'}}</span>
            </div>
            <div class="col-sm-6">
              <strong>Add funds</strong><br/>
              <span ng-repeat="fund in selectedWallet['Add funds']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{fund}}</span><br/>
              *Availability may vary by country
            </div>
            <div class="col-sm-6">
              <strong>Good for</strong><br/>
              <span ng-repeat="use in selectedWallet['Uses']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{use}}</span>
            </div>
            <div class="col-sm-6" ng-if="selectedWallet['Get a Debit/Pre-paid card']">
              <img ng-src="{{selectedWallet['Prepaid/Debit Card'][0].url}}" alt="Card image" style="max-width: 20%">
              <p>Debit/pre-paid {{selectedWallet['Debit/Prepaid card type'].join(', ')}} available in:</p>
              <span ng-repeat="country in selectedWallet['Card countries available (residents)']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{country}}</span>
              <p>Currencies available</p>
              <span ng-repeat="currency in selectedWallet['Card currencies available']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{currency}}</span>
            </div>
          </div>

        </div>
        <!-- END Features -->

        <!-- Limits -->
        <div id="limits" class="flyout-details-program flyout-details-block">
          <div class="row pb20"><h2 class="col-sm-12">Limits</h2></div>
          <div class="wrapper">
            <table style="text-align: right">
              <tbody>
              <tr>
                <td><strong>Maximum stored balance:</strong></td>
                <td>
                  <div 
                       ng-bind-html="selectedWallet['Maximum stored balance' || '-'] | unsafe"
                       popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Maximum stored balance'] || '-' | longHtml"></div>
                </td>
              </tr>
              <tr>
                <td><strong>Daily transaction limit:</strong></td>
                <td><span ng-bind-html="selectedWallet['Daily Transaction Limit'] || '-' | unsafe" popover-placement="{{'top'}}"
                          uib-popover-html="selectedWallet['Daily Transaction Limit'] || '-' | longHtml"></span></td>
              </tr>
              <tr>
                <td><strong>Annual transaction limit:</strong></td>
                <td><span ng-bind-html="selectedWallet['Annual transaction limit'] || '-' | unsafe"
                          popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Annual transaction limit'] || '-' | longHtml"
                ></span></td>
              </tr>
              <tr>
                <td><strong>ATM withdrawal daily limit:</strong></td>
                <td><span ng-bind-html="selectedWallet['Debit card ATM withdrawal daily limit'] || '-' | unsafe"
                          popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Debit card ATM withdrawal daily limit'] || '-' | longHtml"></span></td>
              </tr>
              </tbody>
            </table>
          </div>
          <span>*Limits may vary by country/currency/account verification level</span>
        </div>
        <!-- END Limits -->

      	<!-- Fees -->
        <div id="fees" class="flyout-details-program flyout-details-block">
          <div class="row pb20"><h2 class="col-sm-12">Fees</h2></div>
          <div class="flex-sa pb20">
            <div>
              <strong>Sign Up</strong><br/>
              <span
                ng-bind-html="selectedWallet['Signup fee'] || '-' | unsafe"
                popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Signup fee'] || '-' | longHtml"></span>
            </div>
            <div>
              <strong>Annual fee</strong><br/>
              <span
                ng-bind-html="selectedWallet['Annual'] || '-' | unsafe"
                popover-placement="{{'top'}}"
                uib-popover-html="selectedWallet['Annual'] || '-' | longHtml"
              ></span>
            </div>
            <div>
              <strong>Payment Fee</strong><br/>
              <span
                ng-bind-html="selectedWallet['Payment fee'] || '-' | unsafe"
                popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Payment fee'] || '-' | longHtml"></span>
            </div>
          </div>

          <div class="row">
            <ul class="col-sm-6 ul-center-no-dotts">
              <li><strong>Add Funds</strong></li>
              <li>Bank transfer: <span
                ng-bind-html="selectedWallet['Add funds (Bank transfer) fee'] || '-' | unsafe"
                popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Add funds (Bank transfer) fee'] || '-' | longHtml"></span>
              </li>
              <li>Credit card: <span 
                ng-bind-html="selectedWallet['Add funds (Credit card) fee'] || '-' | unsafe"
                popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Add funds (Credit card) fee'] || '-' | longHtml"></span>
              </li>
              <li>Debit card: <span 
                ng-bind-html="selectedWallet['Add funds (Debit card) fee'] || '-' | unsafe"
                popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Add funds (Debit card) fee'] || '-' | longHtml"></span>
              </li>
            </ul>
            <ul class="col-sm-6 ul-center-no-dotts">
              <li><strong>Withdraw funds</strong></li>
              <li>Local bank transfer: <span 
                ng-bind-html="selectedWallet['balance'] || '-' | unsafe"
                popover-placement="{{'top'}}" uib-popover-html="selectedWallet['balance'] || '-' | longHtml"></span>
              </li>
              <li>Overseas transfer: <span
                ng-bind-html="selectedWallet['Transfer overseas fee'] || '-' | unsafe"
                popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Transfer overseas fee'] || '-' | longHtml"></span>
              </li>
              <li>Currency exchange: <span
                ng-bind-html="selectedWallet['Currency exchange fee'] || '-' | unsafe"
                popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Currency exchange fee'] || '-' | longHtml"></span>
              </li>
            </ul>
          </div>

          <div ng-if="selectedWallet['Get a Debit/Pre-paid card']">
            <br>
            <br>
            <img ng-src="{{selectedWallet['Prepaid/Debit Card'][0].url}}" alt="Debit/Pre-paid card fees" style="max-width: 5em"> Debit/Pre-paid card fees
            <div class="flex-sa">
              <table>
                <tbody>
                <tr>
                  <td><strong>Issuance fee:</strong></td>
                  <td><span
                    ng-bind-html="selectedWallet['Debit card issuance fee'] || '-' | unsafe"
                    popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Debit card issuance fee'] || '-' | longHtml"
                  ></span></td>
                </tr>
                <tr>
                  <td><strong>Annual fee:</strong></td>
                  <td><span
                    ng-bind-html="selectedWallet['Debit card annual fee'] || '-' | unsafe"
                    popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Debit card annual fee'] || '-' | longHtml"></span>
                  </td>
                </tr>
                <tr>
                  <td><strong>Purchase fee:</strong></td>
                  <td><span
                    ng-bind-html="selectedWallet['Debit card purchase fee'] || '-' | unsafe"
                    popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Debit card purchase fee'] || '-' | longHtml"></span>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td><strong>ATM withdrawal fee:</strong></td>
                  <td><span
                    ng-bind-html="selectedWallet['Debit card ATM withdrawal fee' || '-'] | unsafe"
                    popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Debit card ATM withdrawal fee' || '-'] | longHtml"></span>
                  </td>
                </tr>
                <tr>
                  <td><strong>Crossborder fee:</strong></td>
                  <td><span
                    ng-bind-html="selectedWallet['Debit card crossborder transaction fee'] || '-' | unsafe"
                    popover-placement="{{'top'}}" uib-popover-html="selectedWallet['Debit card crossborder transaction fee'] || '-' | longHtml"></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <br>
            <span>*Fees may vary by country</span>
          </div>
        </div>
        <!-- END Fees -->

        <!-- Devices -->
        <div id="devices" class="flyout-details-program flyout-details-block">
          <div class="row pb20"><h2 class="col-sm-12">Devices</h2></div>
          <div class="flex-sa device-and-os">
            <div class="os">
              <i ng-repeat="os in selectedWallet['OS availability']" class="fa fa-{{iconClassMap[os]}}" aria-hidden="true"></i>
            </div>
            <div class="device">
              <i ng-repeat="os in selectedWallet['Device availability']" class="fa fa-{{iconClassMap[os]}}" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <!-- END Devices -->

        <!-- KYC -->
        <div id="kyc" class="flyout-details-program flyout-details-block">
          <div class="row pb20"><h2 class="col-sm-12">KYC Required</h2></div>
          <div>
            For Personal account
            <div>
              <span ng-repeat="requirement in selectedWallet['KYC individuals']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{requirement}}</span>
            </div>
            <div ng-if="selectedWallet['Business Account']">
              <br>
              For Business account
              <div>
                <span ng-repeat="requirement in selectedWallet['KYC businesses']" class="badge badge-pill badge-{{rand}}" ng-init="rand = randomClass()">{{requirement}}</span>
              </div>
            </div>
            <!--
            <br>
            <br>
            <span>*Documents required may vary by country, services and transaction limits requested</span>
            <span ng-if="selectedWallet['Restricted Nationalities'] && selectedWallet['Restricted Nationalities'].length > 0">**Citizens/Residents of {{selectedWallet['Restricted Nationalities'].join(', ')}} are not allowed to apply for this service</span>
            <br>
            <br>
            <div class="flex-sa">
              <button disabled="disabled" type="button" class="btn btn-primary" ng-if="selectedWallet['Personal Account']">Sign up Personal Account</button>
              <button disabled="disabled" type="button" class="btn btn-primary" ng-if="selectedWallet['Business Account']">Sign up Business Account</button>
              <span style="font-size: .7em; margin-top: 1em">This service will be available soon. You will require KEY to apply for it, you can get your KEY during the SelfKey Token Sale at <a href="https://token.selfkey.org/" target="_blank">token.selfkey.org</a></span>
            </div>
            -->
          </div>
        </div>
        <!-- END KYC -->

      </div>

    </div>
  </aside>