div(layout-fill, layout="column", layout-align="center center")
    img(src="assets/images/icons/selfkey.svg", alt="")
    .sk-white-header-text(style="margin-top: 24px; user-select: none;") selfkey
    .sk-blue-subheader-text(style="margin-top: 12px; user-select: none;") blockchain identitiy wallet

    #message-container(layout="column", layout-align="center center" style="width: 40%; height: 48px;")

    button(ng-click="toggleDialog()" style="z-index:9999999") open dialog
    sk-dialog(show="dialogShown" width="50%" height="300px")
        span(style="color:#fff;font-size: 12px; font-weight: 600; font-style: normal; font-stretch: normal;line-height: 2.36;letter-spacing: normal;") Name
        .list(style="color:#fff;font-size: 12px; font-weight: 600; font-style: normal; font-stretch: normal;line-height: 2.36;letter-spacing: normal;")
            .list-item Public Key
            .list-item Physical Address
            .list-item Work Place
            .list-item Date of Birth
            .list-item Nationality
            .list-item Tax Identification Number
        hr(style="color:#303c49;display: block;height: 1px; border: 0; border-top: 1px solid #303c49; width: 100%; margin-top: 15px;")
        .list(style="color:#fff;font-size: 12px; font-weight: 600; font-style: normal; font-stretch: normal;line-height: 2.36;letter-spacing: normal;")
            .list-item Passport
            .list-item Driver's License
            .list-item National ID Card
            .list-item Utility Bill
            .list-item Bank Statement
            .list-item Tax Certificate
        hr(style="color:#303c49;display: block;height: 1px; border: 0; border-top: 1px solid #303c49; width: 100%; margin-top: 15px;")
        .list(style="color:#fff;font-size: 12px; font-weight: 600; font-style: normal; font-stretch: normal;line-height: 2.36;letter-spacing: normal;")
            .list-item Telephone Number - Country Code
            .list-item Telephone Number
            .list-item Selfie
            .list-item Fingerprint
            .list-item Voice ID
        hr(style="color:#303c49;display: block;height: 1px; border: 0; border-top: 1px solid #303c49; width: 100%; margin-top: 15px;")
        .list(style="color:#fff;font-size: 12px; font-weight: 600; font-style: normal; font-stretch: normal;line-height: 2.36;letter-spacing: normal;")
            .list-item Facebook Account Validation
            .list-item Twitter Account Validation
            .list-item LinkedIn Account Validation
            .list-item GitHub Account Validation
            .list-item Instagram Account Validation



    .sk-box.shadowed(style="width: 40%;")
        .header
            span.none-select-text Create Basic Template
        form.content(name="basicInfoForm", layout="column", style="padding: 24px;")
            .sk-input-container(style="margin: 12px 0 12px 0; user-select: none;")
                label Full Name
                input.sk-input(type="text", name="fullName", ng-model="basicInfo['full-name'].value")
            .sk-input-container(style="margin: 12px 0 12px 0; user-select: none;")
                label Email
                input.sk-input(type="text", name="email", ng-model="basicInfo['email'].value")
            .sk-input-container(style="margin: 12px 0 12px 0 ;user-select: none;")
                label Phone Number
                input.sk-input(type="text", name="phoneNumber", ng-model="basicInfo['phone-number'].value")

            .sk-button.filled-blue(style="margin: 12px 0 12px 0;", ng-click="nextStep($event, basicInfoForm)")
                span(style="color: #fff; user-select: none;") Create Basic Template
    .sk-hyperlink.sk-text(style="margin-top: 32px; color: #fff;", ng-click="$root.skipInitialIdAttributesSetup($event)") I'll do that later

